@use "../abstracts" as *;

.btn {
  position: relative;
  @include rem(height, 60);
  @include rem(padding, 0 20);
  font-family: "Anton";
  font-weight: normal;
  color: #1b1b1b;
  @include rem(font-size, 17);
  @include rem(line-height, 20);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50.1%;
    height: 100%;

    background-image: url("data:image/svg+xml,%3Csvg width='496' height='60' viewBox='0 0 496 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30 0H496V45L466 60L0 60V15L30 0Z' fill='%23FF0109'/%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: no-repeat;
    z-index: 1;
    transition: background-image 0.2s ease-out;
  }

  &::before {
    left: 0;
    background-position: left center;
  }
  &::after {
    right: 0;
    background-position: right center;
  }
  &.primary2 {
    &::before,
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='496' height='60' viewBox='0 0 496 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30 0H496V45L466 60L0 60V15L30 0Z' fill='%23D0533F'/%3E%3C/svg%3E%0A");
      transition: filter 0.2s ease-out;
    }
    .txt {
      color: #fff;
    }
    &:hover {
      &::before,
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='496' height='60' viewBox='0 0 496 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30 0H496V45L466 60L0 60V15L30 0Z' fill='%23D0533F'/%3E%3C/svg%3E%0A");
        filter: brightness(0.8);
      }
      .txt {
        color: #fff;
      }
    }
  }
  &.grey {
    &::before,
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='496' height='60' viewBox='0 0 496 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30 0H496V45L466 60L0 60V15L30 0Z' fill='%23888888'/%3E%3C/svg%3E%0A");
      transition: filter 0.2s ease-out;
    }
    &:hover {
      &::before,
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='496' height='60' viewBox='0 0 496 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30 0H496V45L466 60L0 60V15L30 0Z' fill='%23888888'/%3E%3C/svg%3E%0A");
        filter: brightness(0.5);
      }
      .txt {
        color: #fff;
      }
    }
  }
  &.white {
    &::before,
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='496' height='60' viewBox='0 0 496 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30 0H496V45L466 60L0 60V15L30 0Z' fill='white'/%3E%3C/svg%3E%0A");
      transition: filter 0.2s ease-out;
    }
    &:hover {
      &::before,
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='496' height='60' viewBox='0 0 496 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30 0H496V45L466 60L0 60V15L30 0Z' fill='white'/%3E%3C/svg%3E%0A");
        filter: brightness(0.8);
      }
      .txt {
        color: #181818;
      }
    }
  }
  &[disabled] {
    &::before,
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='496' height='60' viewBox='0 0 496 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30 0H496V45L466 60L0 60V15L30 0Z' fill='%23444444'/%3E%3C/svg%3E%0A");
      transition: filter 0.2s ease-out;
    }
    &:hover {
      &::before,
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='496' height='60' viewBox='0 0 496 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30 0H496V45L466 60L0 60V15L30 0Z' fill='%23444444'/%3E%3C/svg%3E%0A");
        filter: brightness(0.8);
      }
      .txt {
        color: #181818;
      }
    }
  }
  .txt {
    z-index: 2;
    position: relative;
    color: #1b1b1b;
    transition: color 0.2s ease-out;
  }
  [class^="ico-"] {
    position: relative;
    z-index: 2;
  }
  .ico-arrow-btn {
    @include rem(margin-left, 12);
    @include rem(margin-bottom, 4);
  }
  .ico-back-btn {
    @include rem(margin-right, 10);
  }
  &:hover {
    .txt {
      color: $primary;
    }
    &::before,
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='496' height='60' viewBox='0 0 496 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_2007_939' fill='white'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30 0H496V45L466 60H0V15L30 0Z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30 0H496V45L466 60H0V15L30 0Z' fill='%231B1B1B'/%3E%3Cpath d='M496 0H497.5V-1.5H496V0ZM30 0V-1.5H29.6459L29.3292 -1.34164L30 0ZM496 45L496.671 46.3416L497.5 45.9271V45H496ZM466 60V61.5H466.354L466.671 61.3416L466 60ZM0 60H-1.5V61.5H0V60ZM0 15L-0.67082 13.6584L-1.5 14.0729L-1.5 15H0ZM496 -1.5H30V1.5H496V-1.5ZM497.5 45V0H494.5V45H497.5ZM466.671 61.3416L496.671 46.3416L495.329 43.6584L465.329 58.6584L466.671 61.3416ZM0 61.5H466V58.5H0V61.5ZM-1.5 15V60H1.5V15H-1.5ZM29.3292 -1.34164L-0.67082 13.6584L0.67082 16.3416L30.6708 1.34164L29.3292 -1.34164Z' fill='%23FF0109' mask='url(%23path-1-inside-1_2007_939)'/%3E%3C/svg%3E%0A");
    }
    .ico-arrow-btn {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.46967 12.4697C0.176777 12.7626 0.176777 13.2374 0.46967 13.5303C0.762563 13.8232 1.23744 13.8232 1.53033 13.5303L0.46967 12.4697ZM13.75 1C13.75 0.585787 13.4142 0.250001 13 0.25L6.25 0.250001C5.83579 0.250001 5.5 0.585787 5.5 1C5.5 1.41421 5.83579 1.75 6.25 1.75H12.25V7.75C12.25 8.16421 12.5858 8.5 13 8.5C13.4142 8.5 13.75 8.16421 13.75 7.75L13.75 1ZM1.53033 13.5303L13.5303 1.53033L12.4697 0.469671L0.46967 12.4697L1.53033 13.5303Z' fill='%23FF0109'/%3E%3C/svg%3E%0A");
    }
    .ico-back-btn {
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='12' viewBox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 6.75C16.4142 6.75 16.75 6.41421 16.75 6C16.75 5.58579 16.4142 5.25 16 5.25L16 6.75ZM0.46967 5.46967C0.176777 5.76256 0.176777 6.23744 0.46967 6.53033L5.24264 11.3033C5.53553 11.5962 6.01041 11.5962 6.3033 11.3033C6.59619 11.0104 6.59619 10.5355 6.3033 10.2426L2.06066 6L6.3033 1.75736C6.59619 1.46447 6.59619 0.989593 6.3033 0.6967C6.01041 0.403807 5.53553 0.403807 5.24264 0.6967L0.46967 5.46967ZM16 5.25L1 5.25L1 6.75L16 6.75L16 5.25Z' fill='%23FF0109'/%3E%3C/svg%3E%0A");
    }
  }
}
.copy-btn {
  @include rem(width, 14);
  @include rem(height, 14);
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_100_1019)'%3E%3Cpath d='M0.979115 2.03516H6.86046C7.02929 2.03516 7.17459 2.09534 7.294 2.21475L9.87186 4.79261C9.99122 4.91192 10.0514 5.05736 10.0514 5.22614V13.0211C10.0514 13.5606 9.61191 14.0002 9.07233 14.0002H0.979115C0.441643 14.0002 0 13.5585 0 13.0211V3.01427C0 2.4746 0.43944 2.03516 0.979115 2.03516ZM9.23395 5.35191H7.5962C7.12161 5.35191 6.73459 4.96484 6.73459 4.49025V2.8526H0.979115C0.890496 2.8526 0.817448 2.92565 0.817448 3.01427V13.021C0.817448 13.1118 0.888343 13.1827 0.979115 13.1827H9.07228C9.16085 13.1827 9.23395 13.1096 9.23395 13.021V5.35191Z' fill='%23888888'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.89355 7.74707H6.15784C6.25162 7.74707 6.32837 7.82382 6.32837 7.91765V8.27868C6.32837 8.37251 6.25162 8.44926 6.15784 8.44926H3.89355C3.79978 8.44926 3.72302 8.37251 3.72302 8.27868V7.91765C3.72302 7.82382 3.79978 7.74707 3.89355 7.74707Z' fill='%23888888'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.26146 10.752H7.78988C7.88371 10.752 7.96046 10.8287 7.96046 10.9225V11.2836C7.96046 11.3774 7.88371 11.4541 7.78988 11.4541H2.26146C2.16763 11.4541 2.09088 11.3774 2.09088 11.2836V10.9225C2.09088 10.8287 2.16763 10.752 2.26146 10.752Z' fill='%23888888'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.26146 9.24902H7.78988C7.88371 9.24902 7.96046 9.32578 7.96046 9.4196V9.78064C7.96046 9.87446 7.88371 9.95122 7.78988 9.95122H2.26146C2.16763 9.95122 2.09088 9.87446 2.09088 9.78064V9.4196C2.09088 9.32578 2.16763 9.24902 2.26146 9.24902Z' fill='%23888888'/%3E%3Cpath d='M4.92773 0H10.8091C10.9779 0 11.1232 0.0601307 11.2426 0.179591L13.8204 2.75745C13.9398 2.87676 14 3.02221 14 3.19094V10.9859C14 11.5254 13.5605 11.965 13.0209 11.965H10.7452C10.685 11.965 10.6359 11.9159 10.6359 11.8557V11.2569C10.6359 11.1966 10.685 11.1476 10.7452 11.1476H13.0209C13.1095 11.1476 13.1826 11.0745 13.1826 10.9859V3.31675H11.5448C11.0703 3.31675 10.6833 2.92968 10.6833 2.45515V0.817448H4.92773C4.83912 0.817448 4.76607 0.890496 4.76607 0.979115V1.47538C4.76607 1.53561 4.71695 1.58468 4.65677 1.58468H4.05797C3.99774 1.58468 3.94867 1.53556 3.94867 1.47538V0.979115C3.94862 0.43939 4.38806 0 4.92773 0Z' fill='%23888888'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6359 8.7168H11.7385C11.8324 8.7168 11.909 8.7935 11.909 8.88733V9.24846C11.909 9.34229 11.8324 9.41894 11.7385 9.41894H10.6359V8.71685V8.7168Z' fill='%23888888'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6359 7.21387H11.7385C11.8324 7.21387 11.909 7.29062 11.909 7.3844V7.74553C11.909 7.83936 11.8324 7.91606 11.7385 7.91606H10.6359V7.21387Z' fill='%23888888'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_100_1019'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
