@use "../abstracts" as *;

.btn {
  position: relative;
  @include rem(height, 60);
  @include rem(padding, 0 20);
  font-family: "Anton";
  font-weight: normal;
  color: #1b1b1b;
  @include rem(font-size, 17);
  @include rem(line-height, 20);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 52%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='104' height='44' viewBox='0 0 104 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26 0H104V31L78 44H0V13L26 0Z' fill='%23FF0109'/%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: no-repeat;
    z-index: 1;
  }
  &::before {
    left: 0;
    background-position: left center;
  }
  &::after {
    right: 0;
    background-position: right center;
  }
  .txt {
    z-index: 2;
    position: relative;
    color: #1b1b1b;
  }
  &:hover {
  }
}
