@use "../abstracts" as *;
.nft-container-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include rem(padding, 0 15);
  @include rem(padding-bottom, 160);
  @media (max-width: 767px) {
    @include rem(padding-bottom, 120);
  }

  .public-txt.f-22 {
    @include rem(margin-top, 30);
    @include rem(line-height, 26);
    @media (max-width: 767px) {
      @include rem(margin-top, 20);
      @include rem(font-size, 14);
      @include rem(font-size, 17);
    }
  }
  .img-box {
    @include rem(margin-top, 60);
    position: relative;

    @media (max-width: 767px) {
      @include rem(margin-top, 30);
    }
    .more-info-box {
      position: absolute;
      width: calc(100% + 8rem);
      max-width: calc(100vw - 4rem);
      bottom: 15%;
      left: 50%;
      transform: translateX(-50%);
      text-align: right;
    }
    .more-info {
      @include rem(width, 98);
      @include rem(height, 98);
      display: inline-flex;
      transform: rotate(0) scale(1);
      transition: transform 0.3s;
      @media (max-width: 767px) {
        @include rem(width, 80);
        @include rem(height, 80);
      }
      &:hover {
        transform: rotate(15deg) scale(1.1);
      }
    }
  }
  .tab-container {
    @include rem(margin-top, 60);
    @media (max-width: 767px) {
      @include rem(margin-top, 40);
    }
    .btn {
      @include rem(margin-top, 0);
      width: 33.3333%;
    }
    .tab-head {
      @include rem(width, 370);
      max-width: calc(100% - 4rem);
      margin: 0 auto;
    }
    .tab-content {
      @include rem(margin-top, 30);
    }
    & + .btn {
      @include rem(margin-top, 60);
    }
    .table-container {
      margin: 0 auto;
      @media (max-width: 767px) {
        margin: 0 -2rem;
        max-width: calc(100% + 3rem);
        @include rem(padding, 0 15);
      }
    }
  }
  .btn {
    @include rem(margin-top, 30);
  }

  .draw-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;
    &::before {
      content: "";
      display: block;
      top: 0;
      left: 0;
      width: 100%;

      padding-top: 100%;
    }
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      border-radius: 10px;
      box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
    }
  }
  .table-container.width-50 {
    @include rem(margin-top, 40);
    .util-area {
      @include rem(margin-bottom, 10);
      color: #838383;
    }
  }
  .important-notice-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @include rem(gap, 30);
    .table-container {
      width: calc(50% - 1.8rem);
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}
.merge-container {
  display: flex;
  @include centerBox;
  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
  .img-box {
    margin-top: 0;
  }
  .color-grey {
    text-align: start;
  }
  .item-merge-action {
    width: calc(100% - 50rem);
    @media (max-width: 767px) {
      width: 100%;
      order: 2;
    }
    .merge-group-wrapper {
      @include rem(margin-top, 20);
    }
    .merge-group {
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: calc(100% + 1.9rem);
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        @include rem(width, 151);
        background-color: #888;
      }
    }

    .merge-item {
      position: relative;
      border: 1px solid #888;
      @include rem(border-radius, 8);
      @include rem(width, 130);
      @include rem(font-size, 60);
      color: #fff;
      & + .merge-item {
        @include rem(margin-left, 20);
      }
      &::after {
        content: "";
        left: 50%;
        top: 100%;
        position: absolute;
        @include rem(height, 20);
        width: 1px;
        background-color: #888;
      }
      &::before {
        content: "";
        display: block;
        padding-top: 125%;
      }
      .remove-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
      .img-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          // opacity: 0;
          @include rem(border-radius, 8);
          transition: opacity 0.2s ease-in-out;
          position: relative;
          transform: translateX(100%);
          z-index: 2;
        }
      }

      .txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include rem(padding-bottom, 15);
        z-index: 1;
      }
    }
    .merge-result {
      @include rem(width, 130);
      background-color: #888;
      @include rem(border-radius, 8);
      margin: 0 auto;
      @include rem(margin-top, 40);
      @include rem(font-size, 40);
      color: #fff;
      position: relative;
      .txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include rem(padding-bottom, 15);
      }
      &::after {
        content: "";
        left: 50%;
        bottom: 100%;
        position: absolute;
        @include rem(height, 20);
        width: 1px;
        background-color: #888;
      }
      &::before {
        content: "";
        display: block;
        padding-top: 125%;
      }
      .result-img-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }
      }
    }
    .btn-groups {
      position: relative;
      .badge {
        position: absolute;
        transform: rotate(25deg);
        @include rem(top, -10);
        @include rem(right, -20);
        z-index: 2;
      }
    }
  }
  .item-c4-wallet {
    @include rem(width, 500);
    @media (max-width: 767px) {
      width: 100%;
      order: 1;
    }
    .wallet-lists {
      @include rem(margin-top, 20);
      background-color: #888;
      @include rem(border-radius, 8);
      width: 100%;
      overflow: auto;
      @include rem(height, 500);
      @include rem(padding, 16);
      flex-wrap: wrap;
      font-size: 0;
      text-align: start;
    }

    .item {
      width: calc(25% - 0.4rem);
      height: auto;
      position: relative;
      display: inline-block;
      cursor: pointer;
      @media (max-width: 500px) {
        width: calc(50% - 0.4rem);
      }
      input {
        position: absolute;
        @include rem(top, 10);
        @include rem(right, 10);
        z-index: 3;
        appearance: none;
        @include rem(width, 26);
        @include rem(height, 26);
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_14301_8315)'%3E%3Crect width='24' height='24' rx='12' fill='%23333333'/%3E%3Cmask id='mask0_14301_8315' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Ccircle cx='12' cy='12' r='12' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_14301_8315)'%3E%3Cpath d='M5 9.7931L11.1364 16L23 4' stroke='white' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_14301_8315'%3E%3Crect width='24' height='24' rx='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: 2.6rem;
        border: 1px solid #1b1b1b;
        @include rem(border-radius, 50%);
        background-position: -0.1rem -2.8rem;
        transition:
          background-position 0.2s cubic-bezier(0, 0, 0, 0.96),
          border-color 0.2s cubic-bezier(0, 0, 0, 0.96);
        background-repeat: no-repeat;
        cursor: pointer;
        &:checked {
          background-position: 0 -0.1rem;
          border-color: transparent;
        }
      }
      & + .item {
        @include rem(margin-left, 4);
      }
      &:nth-child(4n + 1) {
        margin-left: 0;
      }
      &:nth-child(1n + 5) {
        @include rem(margin-top, 4);
      }
    }
    @media (max-width: 500px) {
      .item:nth-child(2n + 1) {
        margin-left: 0;
      }
      .item:nth-child(1n + 3) {
        @include rem(margin-top, 4);
      }
    }
    .img-box {
      width: 100%;
      @include rem(border-radius, 8 8 0 0);

      overflow: hidden;
      position: relative;
      border: 1px solid #ccc;
      &::before {
        content: "";
        display: block;
        padding-top: 125%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .item-number {
      width: 100%;
      @include rem(height, 36);
      color: #fff;
      background-color: #444;
      @include rem(border-radius, 0 0 8 8);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
    }
  }
}
