@use "../abstracts" as *;

.footer {
  @include rem(height, 70);
  background-color: $primary;
  @media (max-width: 767px) {
    height: auto;
    @include rem(padding, 86 0 40);
    position: relative;
  }
  .footer-inner {
    @include centerBox;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    @include rem(font-size, 20);
    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include rem(font-size, 14);
      @include rem(line-height, 21);
      text-align: center;
      padding: 0;
    }
  }
  .footer-list {
    height: 100%;
    display: flex;
    align-items: center;
    > li {
      @include rem(padding, 0 20);
      position: relative;
      @media (max-width: 767px) {
      }
      &::before {
        content: "";
        width: 2px;
        @include rem(height, 16);
        position: absolute;
        background-color: #1b1b1b;
        right: -1px;
        @include rem(top, 8);
        @media (max-width: 767px) {
          @include rem(height, 12);
          @include rem(top, 4);
        }
      }
      &:last-child {
        &::before {
          content: none;
        }
      }
      &.social {
        @media (max-width: 767px) {
          position: absolute;
          @include rem(top, 40);
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &.privacy {
        @media (max-width: 767px) {
        }
      }
      &.terms::before {
        @media (max-width: 767px) {
          content: none;
        }
      }
    }
  }
  .depth2 {
    display: flex;
    li + li {
      @include rem(margin-left, 8);
    }
  }
  [class^="ico"] {
    @include rem(width, 26);
    @include rem(height, 26);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ico-discord {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_97_84)'%3E%3Cpath d='M13 26C20.1797 26 26 20.1797 26 13C26 5.8203 20.1797 0 13 0C5.8203 0 0 5.8203 0 13C0 20.1797 5.8203 26 13 26Z' fill='%231B1B1B'/%3E%3Cpath d='M18.7008 7.7901C17.6206 7.29366 16.4859 6.94452 15.313 6.74268C15.1657 7.00453 14.9966 7.35367 14.8821 7.63189C13.6382 7.44641 12.3726 7.44641 11.1288 7.63189C10.9979 7.32639 10.8451 7.03181 10.6815 6.74268C9.50858 6.93907 8.36842 7.29366 7.29372 7.79555C5.15524 10.9815 4.57698 14.091 4.86611 17.1569C6.12083 18.0897 7.5283 18.7989 9.02306 19.2517C9.36129 18.7935 9.65587 18.3134 9.91227 17.806C9.42675 17.626 8.95759 17.4023 8.51026 17.135C8.62482 17.0478 8.73938 16.9605 8.84849 16.8677C11.4779 18.1115 14.5275 18.1115 17.1624 16.8677C17.2715 16.9605 17.3915 17.0478 17.5061 17.135C17.0587 17.4023 16.5896 17.626 16.104 17.806C16.3604 18.3079 16.6605 18.7935 16.9933 19.2462C18.488 18.7935 19.8955 18.0843 21.1502 17.1514C21.4884 13.6 20.5665 10.5177 18.7062 7.78464L18.7008 7.7901ZM10.2723 15.2748C9.45948 15.2748 8.79939 14.5329 8.79939 13.6218C8.79939 12.7108 9.44857 11.9634 10.2723 11.9634C11.0961 11.9634 11.7562 12.7053 11.7507 13.6164C11.7453 14.5274 11.1015 15.2748 10.2723 15.2748ZM15.7276 15.2748C14.9148 15.2748 14.2547 14.5329 14.2547 13.6218C14.2547 12.7108 14.9039 11.9634 15.7276 11.9634C16.5514 11.9634 17.2115 12.7053 17.2006 13.6164C17.1897 14.5274 16.5514 15.2748 15.7276 15.2748Z' fill='%23FF0109'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_97_84'%3E%3Crect width='26' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
  .ico-mideum {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_97_94)'%3E%3Cpath d='M13 26C20.1797 26 26 20.1797 26 13C26 5.8203 20.1797 0 13 0C5.8203 0 0 5.8203 0 13C0 20.1797 5.8203 26 13 26Z' fill='%231B1B1B'/%3E%3Cpath d='M9.22198 8.66675C11.9219 8.66675 14.1104 10.607 14.1104 13.0002C14.1104 15.3934 11.9217 17.3334 9.22198 17.3334C6.52223 17.3334 4.33337 15.3934 4.33337 13.0002C4.33337 10.607 6.52207 8.66675 9.22198 8.66675ZM17.0287 8.92059C18.3787 8.92059 19.473 10.7469 19.473 13.0002H19.4732C19.4732 15.2528 18.3789 17.0797 17.0289 17.0797C15.6789 17.0797 14.5846 15.2528 14.5846 13.0002C14.5846 10.7475 15.6788 8.92059 17.0287 8.92059ZM20.807 9.34551C21.2817 9.34551 21.6667 10.9817 21.6667 13.0002C21.6667 15.018 21.2819 16.6548 20.807 16.6548C20.3322 16.6548 19.9475 15.0184 19.9475 13.0002C19.9475 10.9819 20.3324 9.34551 20.807 9.34551Z' fill='%23FF0109'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_97_94'%3E%3Crect width='26' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
  .ico-x {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_97_81)'%3E%3Cpath d='M13 26C20.1797 26 26 20.1797 26 13C26 5.8203 20.1797 0 13 0C5.8203 0 0 5.8203 0 13C0 20.1797 5.8203 26 13 26Z' fill='%231B1B1B'/%3E%3Cpath d='M14.102 12.0889L18.4117 7.07544H17.3915L13.6492 11.4288L10.6597 7.07544H7.21191L11.7344 13.6545L7.21191 18.908H8.23206L12.1872 14.3146L15.3458 18.908H18.7935L14.102 12.0834V12.0889ZM12.7054 13.7145L12.2472 13.0599L8.60302 7.84464H10.1741L13.1146 12.0507L13.5728 12.7053L17.397 18.177H15.8258L12.7054 13.7145Z' fill='%23FF0109'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_97_81'%3E%3Crect width='26' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
  .ico-email {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_97_87)'%3E%3Cpath d='M22.1922 22.1924C27.269 17.1156 27.269 8.88443 22.1922 3.80761C17.1153 -1.2692 8.88419 -1.2692 3.80738 3.80761C-1.26944 8.88443 -1.26944 17.1156 3.80738 22.1924C8.88419 27.2692 17.1153 27.2692 22.1922 22.1924Z' fill='%231B1B1B'/%3E%3Cpath d='M10.507 11.6617L5.30264 17.6305C5.21593 17.408 5.16968 17.1695 5.16968 16.9253V9.07467C5.16968 8.6411 5.31709 8.22342 5.58013 7.88379L10.5055 11.6602L10.507 11.6617Z' fill='%23FF0109'/%3E%3Cpath d='M19.8476 7.38514L13.9871 11.7079C13.4104 12.1328 12.6083 12.1256 12.0403 11.6891L6.3186 7.30132C6.3186 7.30132 6.32872 7.29698 6.33306 7.29409C6.35184 7.28542 6.37208 7.2782 6.39087 7.26952C6.40098 7.26519 6.4111 7.26085 6.42266 7.25652C6.44578 7.24785 6.46891 7.23917 6.49348 7.2305C6.49926 7.22761 6.50649 7.22617 6.51371 7.22328C6.54406 7.21316 6.57441 7.20449 6.60621 7.19582C6.61488 7.19293 6.62211 7.19148 6.63078 7.19004C6.6539 7.18426 6.67702 7.17847 6.70015 7.17269C6.71171 7.1698 6.72183 7.16836 6.73339 7.16547C6.75362 7.16113 6.77386 7.1568 6.79409 7.15391C6.8071 7.15246 6.81866 7.14957 6.83167 7.14812L6.89237 7.13945C6.90537 7.13945 6.91694 7.13656 6.9285 7.13512C6.95018 7.13223 6.97186 7.13078 6.99353 7.12934C7.00365 7.12934 7.01377 7.12934 7.02533 7.12789C7.05712 7.12645 7.09037 7.125 7.12216 7.125H18.8865C18.9255 7.125 18.9645 7.125 19.0021 7.12934C19.0137 7.12934 19.0252 7.13078 19.0368 7.13223C19.0642 7.13512 19.0917 7.13656 19.1192 7.1409C19.1322 7.1409 19.1437 7.14379 19.1553 7.14523C19.1871 7.14957 19.2189 7.15535 19.2507 7.16113C19.2565 7.16113 19.2622 7.16402 19.268 7.16402C19.3056 7.17125 19.3417 7.17992 19.3793 7.19004C19.3894 7.19293 19.3995 7.19582 19.4097 7.19871C19.4371 7.20593 19.4631 7.21461 19.4906 7.22328C19.5021 7.22761 19.5137 7.2305 19.5253 7.23484C19.5527 7.24496 19.5802 7.25507 19.6077 7.26663C19.6149 7.26952 19.6236 7.27242 19.6308 7.27675C19.6655 7.2912 19.7001 7.3071 19.7334 7.323C19.7406 7.32733 19.7493 7.33167 19.7565 7.33456C19.7825 7.34757 19.81 7.36202 19.8346 7.37647C19.8389 7.37936 19.8447 7.38225 19.849 7.38514H19.8476Z' fill='%23FF0109'/%3E%3Cpath d='M20.8304 9.0746V16.9252C20.8304 17.3009 20.7191 17.6666 20.5168 17.9788L15.4425 11.7657L20.5182 8.02246C20.7205 8.33463 20.8304 8.69739 20.8304 9.07605V9.0746Z' fill='%23FF0109'/%3E%3Cpath d='M19.8563 18.6089C19.5614 18.7794 19.2276 18.8719 18.8836 18.8719H7.11787C6.64383 18.8719 6.1958 18.7014 5.8446 18.395L11.231 12.2166L11.4854 12.4117C11.9363 12.7571 12.4812 12.9305 13.026 12.9305C13.5709 12.9305 14.084 12.7672 14.5277 12.4391L14.7098 12.3047L19.8577 18.6074L19.8563 18.6089Z' fill='%23FF0109'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_97_87'%3E%3Crect width='26' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
  .copyright {
    @media (max-width: 767px) {
      @include rem(margin-bottom, 5);
    }
  }
}
.go-top-wrap {
  height: 0;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  @include rem(bottom, 20);
  z-index: 5;
}
.btn-gotop {
  position: absolute;
  bottom: calc(100% + 2rem);
  @include rem(right, 20);
}
