@use "../abstracts" as *;
.header {
  position: fixed;
  @include rem(top, 40);
  width: 100%;
  @include rem(font-size, 15);
  @include rem(line-height, 18);
  color: #fff;
  z-index: 200;
  // letter-spacing: 0.1rem;
  .header-inner {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    @include rem(padding, 0 20);
    @include rem(height, 100);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-util {
    @include rem(width, 200);
    height: 100%;
    position: relative;
    @include rem(padding-right, 115);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      @include rem(right, 35);
      width: 100vw;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      transform: skew(35deg);
      backdrop-filter: blur(10px);
      z-index: 1;
    }
    h1 {
      height: 100%;
      position: relative;
      z-index: 2;
      @include rem(padding, 14 0);
    }
    a {
      height: 100%;
      display: inline-flex;
    }
    img {
      height: 100%;
    }
  }
  .header-nav {
    width: calc(100% - 25rem);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @include rem(padding-left, 115);
    @include rem(margin-left, 50);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      @include rem(left, 35);
      width: 100vw;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      transform: skew(35deg);
      backdrop-filter: blur(10px);
      z-index: 1;
    }
  }
  .gnb-area {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    flex: 1 0 auto;
    & + .gnb-area {
      flex: 0 0 auto;
    }
  }
  .one-depth {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & + .one-depth {
      @include rem(margin-left, 50);
    }

    a {
      @include rem(height, 40);
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: color 0.2s ease-out;

      span {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: calc(100% + 0.4rem);
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          @include rem(height, 2);
          background-color: $primary;
          transform: skew(-35deg);
          z-index: 1;
          transition:
            width 0.2s ease-out,
            left 0.2s ease-out;
        }
      }
      &:hover {
        color: $primary;
        span::before {
          width: 100%;
          left: 0;
        }
      }
      &.btn {
        @include rem(height, 44);
        @include rem(font-size, 17);
        @include rem(line-height, 20);
      }
    }
    &.mo-show {
      display: none;
      @media (max-width: 767px) {
        display: flex;
      }
    }
  }
  .gnb-list {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
