@use "../abstracts" as *;
.header {
  position: fixed;
  @include rem(top, 40);
  width: 100%;
  @include rem(font-size, 15);
  @include rem(line-height, 18);
  color: #fff;
  z-index: 200;
  // letter-spacing: 0.1rem;
  @media (max-width: 767px) {
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
  }
  .header-inner {
    @include centerBox;
    @include rem(height, 100);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
      @include rem(height, 80);
      @include rem(padding, 0 15);
    }
  }
  .header-util {
    @include rem(width, 200);
    height: 100%;
    position: relative;
    @include rem(padding-right, 115);
    @media (max-width: 767px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      @include rem(right, 35);
      width: 100vw;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      transform: skew(35deg);
      backdrop-filter: blur(10px);
      z-index: 1;
      @media (max-width: 767px) {
        content: none;
      }
    }
    h1 {
      height: 100%;
      position: relative;
      z-index: 2;
      @include rem(padding, 14 0);
    }
    a {
      height: 100%;
      display: inline-flex;
    }
    img {
      height: 100%;
    }
    .btn-allmenu {
      position: absolute;
      top: calc(50% - 0.7rem);
      left: 0;
      font-size: 0;
      display: none;
      @media (max-width: 767px) {
        display: block;
      }
      .ico-allmenu {
        @include rem(width, 20);
        @include rem(height, 14);
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='14' viewBox='0 0 19 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='19' height='1.5' fill='white'/%3E%3Crect y='6' width='19' height='1.5' fill='white'/%3E%3Crect y='12' width='19' height='1.5' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
    .btn-login {
      position: absolute;
      top: calc(50% - 1.5rem);
      right: 0;
      height: auto;
      display: none;
      @media (max-width: 767px) {
        display: block;
      }
      .ico-login {
        @include rem(width, 30);
        @include rem(height, 30);
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='14.25' stroke='%23FF0109' stroke-width='1.5'/%3E%3Cpath d='M21.241 18.5266L21.2395 18.5213C21.0213 17.6822 20.6576 16.9052 20.1583 16.2121C19.8536 15.789 19.3132 15.5261 18.748 15.5261C18.4796 15.5261 18.2163 15.5864 17.9865 15.7009C17.0943 16.1449 16.0615 16.3796 15 16.3796C13.9386 16.3796 12.9058 16.1449 12.0136 15.7009C11.7839 15.5866 11.5207 15.5261 11.2522 15.5261C10.687 15.5261 10.1466 15.7889 9.84177 16.2121C9.34231 16.9055 8.97849 17.683 8.76036 18.5225C8.69524 18.7321 8.69292 18.9541 8.75341 19.1649C8.81479 19.3786 8.93667 19.5658 9.10564 19.7063C9.89993 20.3664 10.8167 20.8816 11.8306 21.2375C12.8452 21.5937 13.9116 21.7742 15 21.7742C16.0885 21.7742 17.1549 21.5935 18.1695 21.2375C19.1833 20.8816 20.1001 20.3664 20.8944 19.7065C21.0635 19.5659 21.1853 19.3788 21.2467 19.1651C21.3068 18.9557 21.3048 18.7352 21.241 18.5269V18.5266Z' fill='%23FF0109'/%3E%3Cpath d='M14.9998 8.2258C13.0167 8.2258 11.4033 9.86328 11.4033 11.8759C11.4033 13.8885 13.0167 15.5261 14.9998 15.5261C16.9828 15.5261 18.5964 13.8886 18.5964 11.8759C18.5964 9.86315 16.9829 8.2258 14.9998 8.2258Z' fill='%23FF0109'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
  .header-nav {
    width: calc(100% - 25rem);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @include rem(padding-left, 115);
    @include rem(margin-left, 50);
    @media (max-width: 767px) {
      // display: none;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      min-height: 100vh;
      @include rem(width, 300);
      max-width: 100%;
      @include rem(padding-left, 30);
      @include rem(padding-top, 14);
      margin-left: 0;
      background-color: #181818;
      z-index: 50;
      justify-content: flex-start;
      align-items: stretch;
      display: none;
      transform: translateX(-100%);
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      @include rem(left, 35);
      width: 100vw;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      transform: skew(35deg);
      backdrop-filter: blur(10px);
      z-index: 1;
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  .gnb-area {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    flex: 1 0 auto;
    & + .gnb-area {
      flex: 0 0 auto;
      @include rem(margin-left, 20);
      @media (max-width: 767px) {
        margin-left: 0;
        @include rem(margin-top, 30);
      }
    }
    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      height: auto;
      flex: 0 0 auto;
    }
  }
  .one-depth {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 767px) {
      height: auto;
      width: 100%;
      justify-content: flex-start;
    }
    &.home {
      a {
        width: auto;
      }
    }
    &.home + li {
      @media (max-width: 767px) {
        @include rem(margin-top, 40);
      }
    }
    & + .one-depth {
      @include rem(margin-left, 50);
      @media (max-width: 767px) {
        @include rem(margin-top, 30);
        margin-left: 0;
      }
    }

    a {
      @include rem(height, 40);
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: color 0.2s ease-out;
      @media (max-width: 767px) {
        height: auto;
        width: 100%;
        justify-content: flex-start;
      }
      span {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: calc(100% + 0.4rem);
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          @include rem(height, 2);
          background-color: $primary;
          transform: skew(-35deg);
          z-index: 1;
          transition:
            width 0.2s ease-out,
            left 0.2s ease-out;
        }
      }
      // media query hover mode

      &:hover {
        @media (hover: hover) {
          color: $primary;
          span::before {
            width: 100%;
            left: 0;
          }
        }
      }
      &.active {
        color: $primary;
        span::before {
          width: 100%;
          left: 0;
        }
      }
      &.btn {
        @include rem(height, 44);
        @include rem(font-size, 17);
        @include rem(line-height, 20);
      }

      .logo {
        @include rem(width, 59);
      }
    }
    &.mo-show {
      display: none;
      @media (max-width: 767px) {
        display: flex;
      }
    }
    &.pc-show {
      display: flex;
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  .gnb-list {
    display: flex;
    align-items: center;
    width: 100%;
  }
  @media (max-width: 767px) {
    .close-btn {
      display: flex;
      position: absolute;
      @include rem(top, 14);
      @include rem(width, 54);
      @include rem(height, 54);
      justify-content: center;
      align-items: center;
      right: 0;
      z-index: 2;
    }
  }
  .dimmed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    opacity: 0;
    display: none;
  }
}
